.div-welcome {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0582ef;
    border: 2px solid black;
    color: whitesmoke;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#h1Welcome {
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
}

#registerButton,
#loginButton {
    font-size: 1.5rem;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: #7a7a7a;
}


/* CSS For the New User Registration Form */


/* .div--container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0582ef;
    border: 2px solid black;
    color: whitesmoke;
    /* position: absolute; */


/* margin: auto; */


/* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */


}

/* #regTitle {
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
}

#regFormContainer {
    background-color: rgba(213, 216, 241, 0.815);
    box-align: center;
    flex-direction: row;
    border-width: 5em;
    border-radius: .3em;
}

.userArticle {
    border: 2px solid white;
}

.userEvents:first-child {
    background-color: yellow;
    color: blue;
    font-size: 1.5rem;
    font-weight: bold;
}

.userEvents {
    padding: 10px;
}

#taskIdPlaceholder {
    height: 20vh
}  */

/* nav {
    background-color: white;
}